@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: white(240, 232, 232);
}
.rectangle {
    height: 20px;
    width: 900px;
    background-color: purple;
}

 
.logo{
    
    max-width: 700;
    width: 700px;
    height: 200px;
}
 