@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);

body {
    padding: 0;
    margin: 0;
    display: grid;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    font-size: 35px;
}
.rectangle {
    height: 20px;
    width: 100%;
    background-color: purple;
    padding-bottom: .2rem;
    margin-bottom: .2rem;
}

 
.logo{
    height: 100px;
    width: 400px;
}


#artImg{
   border-radius: 35px 35px 35px 35px;
   margin: 22px;
   width: 450px;
   height: 210px;
   display: flex;
   justify-content: center;
   
}
